@keyframes floatup{
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.float-up{
    animation: floatup 1s ease-out;
}